<duv class="container">
  <div class="row">
    <div class="col text-center">
      <h3>お問い合わせ完了画面</h3>
      <p class="border-top h5 ">
        お問い合わせいただきありがとうございます。<br>
        お問い合わせいただいた内容につきましては、<br>
        入力していただいたメールアドレスに近日中お返事させていただきます。<br>
        もしメールが到着しなかった場合は入力が間違っている可能性がございます。<br>
        万一、返信が届かない場合は、お手数をおかけしますが、<br>
        迷惑メールフォルダ等に振り分けられていないかご確認の上、再度お問い合わせくださいませ。
      </p>
      <%= link_to 'トップ画面へ戻る',root_path,class: 'btn btn-success'%>
      <% if member_signed_in? %>
        <%= link_to 'マイページへ戻る',member_path(current_member),class: 'btn btn-secondary'%>
      <% end %>
    </div>
  </div>
</duv>