<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2><%= @member.nickname %>とメッセージ</h2>
      <!--メッセージ一覧-->
      <%= render 'table',member: @member, messages: @messages%>
      <!--メッセージ投稿フォーム-->
      <%= render 'form', message: @message%>
      <%= link_to 'プロフィール詳細ページに戻る',member_path(@member),class: 'btn btn-secondary'%>
    </div>
  </div>
</div>