<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2><%= @member.nickname %>とメッセージ</h2>
      <%= render 'table',member: @member%>
      <%= render 'form', message: @message%>
    </div>
  </div>
</div>