<div class="container">
  <div class="row">
    <div class="col">
      <div class="border border">
        <h3 class="text-center">マンガ評価一覧</h3>
      </div>
      <!--会員一覧の表示テーブル（管理者）を-->
      <%= render 'index', mangas: @mangas%>
    </div>
  </div>
</div>