<div class="container">
 <h4>会員一覧</h4>
 <table class="table">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>Eメール</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member|%>
      <tr>
        <th><%= attachment_image_tag member, :profile_image,:fill,60,60%> <br>
          <%= member.nickname%></th>
        <th><%= member.email%></th>
        <th></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
