<div class="container">
 <div class="row">
   <div class="col text-center">
     <div class="border border">
       <h4 class"text-center">会員一覧</h4>
     </div>
     <!--会員一覧の表示テーブル（管理者）を読み込む-->
     <%= render 'index', members: @members%>
   </div>
 </div>
</div>
