<div class="container">
  <div class="row ">
    <div class="col mx-auto">
    <%= render 'layouts/errors',object: @manga%>
    <div class="border border-danger ">
      <h3 class="text-center">投稿内容編集画面</h3>
    </div>
    <%= render 'form', manga: @manga%>
    <div class="box text-center">
      <%= link_to '詳細画面へ戻る',manga_path(@manga),class: 'btn btn-danger text-center'%>
    </div>
    </div>
  </div>
</div>