<div class="container">
  <div class="row">
    <div class="col-2 text-center">
      <%= render 'public/members/info' , member: current_member%>
      <%= link_to 'プロフィール画面',member_path(current_member),class: 'btn btn-secondary mt-2 btn-block'%>
    </div>
    <div class="col-10">
      <div class="border border">
        <h3 class="text-center">マンガの評価一覧</h3>
      </div>
      <%= render 'index', mangas: @mangas%>

    </div>
  </div>
</div>