<div class="row">
    <div class="col text-center">
      <h3>
        マンガ好きな人と交流ができるSNSサイトです！<br>
        マンガが好きな人が自分の好きな<br>
        マンガについて語ったり、紹介できるサイトです！<br>
        交流もできるのでぜひ登録してご利用ください！
      </h3>
      <div class="btn">
        <p>
          登録がまだの人は<%= link_to 'こちら',new_member_registration_path%>
          会員の人はここから<%= link_to 'ログイン！',new_member_session_path%>
        </p>

      </div>
    </div>
  </div>
</div>