<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3 class="border rounded-circle">
        マンガ好きのユートピアへようこそ！<br>
        このサイトはマンガの紹介を通じて多くの<br>
        マンガ好きと交流できるSNSサイトです。<br>
        ご利用されるには会員の登録が必要です。
      </h3>
      <div class="btn">
        <%= link_to '新規登録へ',new_member_registration_path,class: "btn btn-success "%>
        <%= link_to 'ログイン画面へ',new_member_session_path,class: "btn btn-info "%>
      </div>
    </div>
  </div>
</div>