<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3 class="border rounded-circle">
        マンガ好きのユートピアへようこそ！<br>
        このサイトはマンガの紹介を通じて多くの<br>
        マンガ好きと交流できるSNSサイトです。<br>
        ご利用されるには会員の登録が必要です。
      </h3>
      <div class="btn">
        <% if member_signed_in? %>
          <%= link_to 'ログアウト',destroy_member_session_path, method: :delete, class: "btn btn-danger "%>
        <% elsif admin_signed_in? %>
          <%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: "btn btn-danger "%>
        <% else%>
          <%= link_to '新規登録へ',new_member_registration_path,class: "btn btn-success "%>
          <%= link_to 'ログイン画面へ',new_member_session_path,class: "btn btn-info "%>
        <% end %>
      </div>
    </div>
  </div>
</div>