<div class="container">
  <div class="col">
        <%= render 'layouts/errors',object: @member%>
    <h4 class="text-center"><%= @member.nickname%>のプロフィール編集</h4>
  </div>
  <%= render 'form', member: @member%>
</div>