<!--会員の詳細ページ-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="border border">
        <h3 class="text-center"><%= @member.nickname%>さんのプロフィール</h3>
      </div>
      <%= render 'table', member: @member%>
      <%= link_to 'プロフィール編集',edit_member_path, class: 'btn btn-success'%>
      <% if current_member != @member%>
        <%= link_to 'メッセージを送る',message_path(@member)%>
      <% end %>
    </div>
  </div>
</div>