    <% if manga.favorited_by?(current_member) %>
  <p>
    <% link_to manga_favorites_path(manga),method: :delete do %>
    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= manga.favorites.count %>いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to manga_favorites_path(manga), method: :post do %>
    <i class="fas fa-heart" aria-hidden="true"></i>
    <%= manga.favorites.count %>いいね
  <% end %>
  </p>
<% end %>