<header class="">
  <% if member_signed_in? %>
    <li>
      <%= link_to "ログアウト",destroy_member_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "新規登録", new_member_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_member_session_path%>
    </li>
  <% end %>
</header>